*{
    padding: 10px;
    margin: 0;
    line-height: 2;
}

h1{
    color: rebeccapurple;
}

p{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}